@media (min-width: 768px) {
  body {
    bottom: 0;
    height: 100vh;
    overflow-x: hidden;
  }

  .wlc,
  .menu-icon,
  .timesIcon,
  .mobile-backgound,
  .nav-desktop span {
    display: none;
  }

  .nav-list {
    display: block;
    background: transparent;
  }

  .nav-list li {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2rem;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .nav-list li a {
    text-decoration: none;
    color: #344563;
    cursor: pointer;
  }

  .nav-desktop {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .hero {
    background-image: url(images/Header-llustration-desktop.svg);
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 42rem;
  }

  header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
  }

  .indicator {
    display: none;
  }

  .recent-work h2 {
    margin-bottom: 3rem;
  }

  .main-cards {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .cards {
    margin: 16px 12px;
    padding: 0;
  }

  .card-tag {
    display: flex;
    justify-content: center;
  }

  .btn {
    all: unset;
    display: flex;
    justify-content: center;
  }

  .about-img,
  .about-imgs {
    display: none;
  }

  .about-img-desktop {
    display: block;
    float: right;
  }

  .about-me .about-text.text {
    clear: right;
    transform: translateY(-300%);
  }

  .about-desktop {
    display: block;
    float: left;
    margin-top: -12rem;
  }

  .about-me .btn.btn-btn {
    transform: translateY(-370%);
  }

  .about-me {
    margin-bottom: -25rem;
    position: relative;
    top: 7rem;
  }

  .about-me h3 {
    transform: translateY(-90%);
    padding-right: 6rem;
  }

  .languages {
    width: 100%;
    display: flex;
    align-items: center;
    transform: translateY(2%);
  }

  .languages .lang {
    flex-grow: 1;
  }

  section {
    padding-left: 14.3rem;
    padding-right: 14.3rem;
  }

  .footer {
    display: grid;
    grid-template-columns: 45% 45%;
    margin-bottom: 22.5rem;
    position: absolute;
    top: 310rem;
  }

  .footer .get-in-touch {
    position: relative;
    bottom: 5rem;
    margin-left: 13.5rem;
    margin-right: 2.4rem;
  }

  .last-name {
    display: block;
    border: 1px solid #d0d9d4;
    border-radius: 0.4rem;
    box-sizing: border-box;
    background: #fff;
    padding: 1.2rem;
    height: 48px;
    width: 330px;
  }

  .full-name {
    width: 684px;
  }

  .email {
    width: 684px;
  }

  .textarea {
    width: 684px;
  }

  li .form-btn {
    position: relative;
    margin-bottom: 12rem;
    margin-right: 40rem;
  }

  .bottons {
    position: relative;
    margin-right: 20rem;
  }

  .contact-img,
  .gmail {
    display: none;
  }

  .contact-pack.pack {
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateY(75%);
  }

  .contact-img1 {
    display: block;
    margin-right: 20rem;
  }

  .contact-img2 {
    display: block;
    margin-right: 5rem;
  }

  .contact-img3 {
    display: block;
    margin-left: 65rem;
    position: relative;
    bottom: 18rem;
  }

  .line {
    display: block;
    height: 0.1rem;
    width: 144.4rem;
    background: #dfe1e6;
    position: relative;
    top: 30rem;
  }

  .handle-icon.set-icons {
    position: relative;
    top: 30rem;
  }

  .btns {
    margin-left: 2.4rem;
  }
}
