@media(min-width: 768px){
    body{
        bottom: 0;
        height: 100vh;
    }

    .wlc, .menu-icon{
        display: none;
    }

    .nav-list{
        display: block;
        background: transparent;
    }

    .nav-list li{
        display: flex;
        align-items: center;
        text-align: center;
        margin: 2rem;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #344563;
    }

    .nav-desktop{
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .hero{
        background-image: url(images/Header-llustration-desktop.svg);
        background-size: cover;
        padding-top: 10rem;
        padding-bottom:42rem;
        
    }

    header{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 2rem;
    }

    .indicator{
        display: none;
    }
    .recent-work h2 {
        margin-bottom: 3rem;
    }

    .main-cards{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .cards{
        margin: 16px 12px;
        padding: 0;
    }
    .card-tag{
        display: flex;
        justify-content: center;
    }

   .btn{
       all:unset;
       display: flex;
       justify-content: center;
   }

   .about-img, .about-imgs{
       display: none;
   }

   .about-img-desktop{
       display: inline-block;
   }
   
}